.login-bg {
  background: linear-gradient(to bottom right, #4e54c8, #8f94fb);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.login-card {
  background-color: white;
  backdrop-filter: blur(8px);
  border-radius: 1rem !important;
}

.login-card .form-label {
  font-weight: 500;
}


